doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description' content='')
  meta(name='author' content='')
  title Grayscale - Start Bootstrap Theme
  // Bootstrap core CSS
  link(href='vendor/bootstrap/css/bootstrap.min.css' rel='stylesheet')
  // Custom fonts for this template
  link(href='vendor/fontawesome-free/css/all.min.css' rel='stylesheet')
  link(href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet')
  link(href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i' rel='stylesheet')
  // Custom styles for this template
  link(href='stylesheets/grayscale.min.css' rel='stylesheet')
  link(href='stylesheets/style.css' rel='stylesheet')
  link(rel='stylesheet' href='https://unpkg.com/leaflet@1.5.1/dist/leaflet.css')
  script(src='https://unpkg.com/leaflet@1.5.1/dist/leaflet.js')

  

body
  block content
